{% extends 'base.html' %}
{% block title %}Category{% endblock %}
{% block category_active %} active {% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-lg-2">
            <div class="thumbnail">
                <a href="{% url 'product:only' %}">
                    <div class="caption">
                        <h3><font color="red">activity about 24 hours ago</font></h3>
                        <h5>Products, that have been added 24 hours ago.</h5>
                    </div>
                </a>
            </div>
        </div>
        {% for category in categories %}
            <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'product:product' slug=category.slug %}">
                            <div class="caption">
                                <h3>{{ category.name }}</h3>
                                <h5>{{ category.description }}</h5>
                            </div>
                        </a>
                    </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="/products?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="/products?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}