{% extends 'base.html' %}
{% block title %}Only 24{% endblock %}

{% block body %}
<h2 style="text-align:center;">Products, that have been added 24 hours ago.</h2>
<div class="container-fluid">
    <div class="row">
        {% for product in only_24 %}
            <div class="col-sm-4 col-lg-3">
                    <div class="thumbnail">
                            <div class="caption">
                                <h3>{{ product.name }}</h3>
                                <h5><b>Category: </b>{{product.category}}<br>
                                    <b>Price:</b> {{ product.price }}<br>
                                <b>Description:</b> {{ product.description }}<br>
                                <b>Created At: </b>{{product.created_at}}<br>
                                <b>Modified At: </b>{{product.modified_at}}<br></h5>
                            </div>
                    </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="/24_only?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="/24_only?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock%}