<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="{% block the_test %} {% endblock %}" href="{% url 'product:index' %}">The test</a>
        </div>
        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">

            <ui class="nav navbar-nav">
                <li class="{% block category_active %} {% endblock %}">
                    <a href="{% url 'product:category' %}">
                        <span class="glyphicon glyphicon-list-alt"aria-hidden="true"></span>&nbsp;
                        Category list
                    </a>
                </li>
                <li class="{% block product_active %} {% endblock %}">
                    <a href="{% block previous %}{% endblock %}">
                        <span class="glyphicon glyphicon-tag"aria-hidden="true"></span>&nbsp;
                        {% block category_name %}Products{% endblock %}
                    </a>
                </li>
                <li class="{% block the_product_active %} {% endblock %}">
                    <a href="">
                        <span class="glyphicon glyphicon-bookmark"aria-hidden="true"></span>&nbsp;
                        {% block product_name %}The product{% endblock %}
                    </a>
                </li>
            </ui>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                <li><a>You logged in as {{user}}</a></li>
                <li>
                    <a href="{% url 'auth_logout' %}">
                        <span class="glyphicon  glyphicon-off" aria-hidden="true"></span>&nbsp;
                        Logout
                    </a>
                </li>
                {% else %}
                <li class="{% block login_active %} {% endblock %}">
                    <a href="{% url 'auth_login' %}">
                        <span class="glyphicon  glyphicon-log-in" aria-hidden="true"></span>&nbsp;
                        Login
                    </a>
                </li>
                <li class="{% block register_active %} {% endblock %}">
                    <a href="{% url 'registration_register' %}">
                        <span class="glyphicon  glyphicon-user" aria-hidden="true"></span>&nbsp;
                        Register
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>